*{
    text-transform: capitalize;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main{
    width: 90%;
    padding: 30px;
    background-color: rgb(191, 227, 239);
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px lightgray;
}

img{
    border-radius: 10px;
}

.cover{
    background-color: azure;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.text{
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a:nth-child(2){
    color: darkgoldenrod;
}

.attribution{
    background-color: azure;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}

@media screen and (max-width:905px){

    .main{
        background-color: white;
        box-shadow: none;
        border-radius: none;
        width: 100%;
    }

    .cover{
        padding: 20px;
    }
    img{
        width: 240px;
        height: 240px;
    }

    .text{
        width: 290px;
    }

    .attribution{
        margin: 0 auto;
    }
}