*{
    text-transform: capitalize;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cover{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px auto;
    background-color: rgb(189, 224, 245);
    box-shadow: 0 0 20px 1px rgb(46, 46, 46);
    border-radius: 5px;
}

img{
    margin: 0 auto;
    display: block;
}

.section{
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: aliceblue;
}

.text{
    width: 270px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
